[submodule "linux/buildroot"]
	path = linux/buildroot
	url = https://github.com/pashinov/buildroot.git
[submodule "linux/dist/dragon"]
	path = linux/dist/dragon
	url = https://github.com/pashinov/dragon.git
[submodule "linux/dist/phoenix"]
	path = linux/dist/phoenix
	url = https://github.com/pashinov/phoenix.git
