sudo: required

services:
  - docker
git:
  submodules: false

branches:
  only:
    - master

before_install:

before_install:
  - git submodule update --init --recursive
  - docker build -t linux-buildenv .
  - docker create --name fw --volume ~/build/pashinov:/home/develop --interactive --tty linux-buildenv:latest
  - docker start fw

script:
  - docker exec fw sh linux-buildenv/raspberrypi3/Makeit
